html, body {
    /*height:100%;*/
    margin:0;
    padding:0;

    background: rgba(240,240,240,1);
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 21%, rgba(255,255,255,1) 43%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(0%, rgba(240,240,240,1)), color-stop(21%, rgba(240,240,240,1)), color-stop(43%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 21%, rgba(255,255,255,1) 43%);
    background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 21%, rgba(255,255,255,1) 43%);
    background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 21%, rgba(255,255,255,1) 43%);
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 21%, rgba(255,255,255,1) 43%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0 );
    background-attachment: fixed;
    font-family: Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
    font-size: 13px;
}

.content {
    position:relative;
    /*min-height: 100%;*/
    width:985px; /* Sizing - any length */
    max-width:985px; /* Sizing - any length */
    padding:12px 0 30px 0; /* Header height and footer height */
    margin:0 auto 0 auto; /* Center content */
    /*border: 1px solid yellow;*/
}

.content #main {
    float: left;
    /*min-height: 100%;*/
    height: auto;
    padding:50px 0 0 0; /* Header height and footer height */
    width: 500px;
    margin: 0 auto 0 auto;
    /*border: 1px solid red;*/
    /*margin: 50px 0 0 0;  Center content */
}

#status_box {
    position:relative;
    float: left;
    border-top: 1px solid rgb(134,134,134);
    border-left: 1px solid rgb(134,134,134);
    border-right: 1px solid rgb(134,134,134);
    border-bottom: 1px solid rgb(134,134,134);
    width: 100%;
    min-height: 100px;
    padding:5 0 0 0; /* Header height and footer height */
    color: rgb(34, 34, 34);
    margin: 5px 0 0 0;
    background-color: white;
    /*margin: 50px 0 0 0;  Center content */
}

.message {
    position:relative;
    float: left;
    margin: 10px 0 10px 0;
}

#status {
    margin: 0 15px 0 85px;
    /*border: 1px solid green;*/
}

#options{
    margin: 0 15px 10px 85px;
    position: absolute;
    bottom: 0;
    left: 0;
    /*border: 1px solid black;*/
}

.picture {
    display: block;
    float: left;
    margin: 0 0 0 15px;
    /*border: 1px solid black;*/
}

#option_box {
    float:left;
    width: 30px;
    margin: 0 15px -10px 0;
    /*border: 1px solid green;*/
}

#pagination {
    float: left;
    height: auto;
    padding:15px 0 0 0; /* Header height and footer height */
    width: 500px;
    margin: 0 auto 0 auto;
}

i:hover {
   color: rgb(56, 145, 35);
}

.favorited{
   color: rgb(255, 172, 51);
}

.retweeted{
   color: rgb(83, 169, 234);
}

/* unvisited link */
a:link {
    color: rgb(34, 34, 34);
}

/* visited link */
a:visited {
    color: rgb(34, 34, 34);
}

/*MODAL*/

.wrap {
  padding: 40px;
  text-align: center;
}
hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaaaaa;
}
h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
p {
  margin-bottom: 20px;
}
.btn {
  background: rgb(56, 145, 35);
  border: rgb(56, 145, 35) solid 1px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  /* top: 40em;*/
}
.btn:hover {
  background: rgb(51, 160, 50);
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 500px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right;
}
/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}

.btn-no {
    background:none!important;
    border:none; 
    padding:0!important;
    cursor:pointer;
}